/*
Licenca GPLv3
*/
/* 
    Created on : 9.4.2015, 14:43:15
    Author     : boris
*/

/*
 Bootstrap override
*/

.modal-body {
    padding:  10px;
}
.page-header {
    margin-top: 0px;
    margin-bottom: 7px;
}
.page-header > h3 {
    margin-bottom: 0;
}


.form-inline label {
    margin-right: 5px;
    margin-left: 5px;
}
.table .col-numbers, .pull-right .col-numbers {
    text-align: right;
}


.enota {
    width: 40px;
    padding-left: 10px
}

/*
 Dodatki za vnosna polja
*/
input.lookup-polje {
    width: 90px;
}
input.lookup-polje.kratko {
    width: 60px;
}
input.lookup-naslov {
    width: 90px;
}
input.datum-polje {
    width: 110px;
}
input.decimal-polje {
    text-align: right;
}
input.integer-polje {
    text-align: right;
}


select.slim-select {
    width: 90px;
}

.lookup {
    &.input-group {
        width: 100%;
    }
    &-label {
        border: none;
        text-overflow: ellipsis;
        cursor: pointer;
        white-space: normal;
        overflow: hidden;
        width: 75%;
        max-width: calc(100% - 60px);
        padding: 6px;
        display: inline-block;
        max-height: @input-height-base;
    }

    &-grid {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: auto;
        border: 0;
    }

    & input[type='text'] {
        width: 25%;
        min-width: 60px;
        display: inline-block;

    }
}
/* Horizontal form label fix */
.form-horizontal label {
    margin-top: 6px;
}
/* Horizontal form date range */
.form-horizontal .range-start {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-horizontal .range-end {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}
.form-vertical ul {
    list-style: none;
}
ul[type="select"] {
    height: auto;
    list-style: none;
    padding-top: 2px;
}
ul[type="select"] > li > label {
    margin-left: 6px;
    margin-bottom: 0;
}
/*
 Ikone
*/
.icon-afna {
    font-family: Arial;
}
.icon-afna:before {
    content: "@"
}
.icon-procent {
    font-family: Arial;
}
.icon-procent:before {
    content: "%"
}
.icon-euro {
    font-family: Arial;
}
.icon-euro:before {
    content: "€"
}
/*
 Stili za mape tree view
*/
ul.tree-view-root {
    margin: -20px;
    overflow-y: auto;
    overflow-x: scroll;
    max-height: 950px;
}
ul.tree-view-root, .tree-view-node > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 5px;
}
.tree-view-node > ul {
    left: 20px;
}
ul.tree-view-root li, .tree-view-node > ul li {
    margin-bottom: 5px
}
ul.tree-view-root a, .tree-view-node > ul a {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
    line-height: 12px;
    padding: 3px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.tree-view-root span, .tree-view-node > ul span {
    vertical-align: bottom;
    position: relative;
    white-space: nowrap;
    top: 3px;
    width: 70px;
}
ul.tree-view-root .tree-view-node > ul {
    display: none
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
ul.tree-view-root .tree-view-node.open > ul {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
ul.tree-view-root .tree-view-leaf {
    margin-left: 17px
}
a.tree-node-selected {
    background-color: #0088cc;
    color: #ffffff;
}
i.tree-view-chevron, a.tree-view-label {
    cursor: pointer;
}
i.tree-view-chevron.icon-chevron-right {
    margin-left: 3px;
}
i.tree-view-icon.icon-folder-close-alt {
    margin-right: 3px;
}

.drop-hilite {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}
.label-inverse, .badge-inverse {
    background-color: #333333;
}

.paginator-control {
    & a {
        padding: 5px 8px;
    }

    & input {
        display: inline-block;
        width: 40px;
    }
}
/* Job-style panel styling */
.panel-status-label {
    width: 78px;
    font-size: 0.9em;
}
.panel-status-hide {
    cursor: pointer;
    font-size: 0.9em;
}
.panel-name {
    float: left;
    white-space: nowrap;
    width: 62%;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width: 960px) {
    .modal-large .modal-dialog {
        width: 900px;
    }
}

.dl-job {
    & dt {
        width: 200px;
        white-space: normal;
        word-wrap: break-word;
    }
    & dd {
        margin-left: 220px;
    }
}

.panel-log .panel-body {
    overflow-y: scroll;
    max-height: 250px;
}

/*
 * FORM PANEL
 * Panel, ki ima naslov, toolbar in v telesu form
 */
/*
 * FORM PANEL
 * Panel, ki ima naslov, toolbar in v telesu form
 */
.panel-form {
    margin-bottom: 8px;

    & .panel-heading {
        padding: 4px;
    }

    & .panel-footer {
        padding: 4px;
    }

    & > .panel-body {
        padding: 0;
        & form {
            padding: @panel-body-padding @panel-body-padding 0 @panel-body-padding;
        }
    }

    & h4 {
        margin-top: 6px;
        margin-bottom: 0;
    }
}

.glowing-border {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#reportList .errors > div {
    margin-top: 3px;
    margin-left: 0;
}
.has-error .error-block {
    color: #b94a48;
    display: block;
    clear: both;
    margin-top: 5px;
    margin-bottom: 10px;
}

#flashMessagesManager {
    & .flashMessages {
        position: fixed;
        bottom: 1px;
        right: 1px;
        z-index: 420;
        border: 1px solid #ccc;
    }

    & .flashMessagesList {
        position: fixed;
        bottom: 1px;
        right: 1px;
        margin-bottom: 23px;
        padding: 0;
        z-index: 421;
        & .panel {
            margin-bottom: 0;
            & .panel-body {
                padding: 7px 7px 0 7px;
            }
        }
    }
}

.sporocila-ifi {
    position: fixed;
    width: 100%;
    top: 30px ;
    z-index: 1100;
}
.tab-title h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}
/**
 * Cog rotacija za AJAX feedback
 * @formatter:off
 */
@keyframes rotateCog {
    100% { transform: rotate(360deg) }
}
@-webkit-keyframes rotateCog {
    100% { -webkit-transform: rotate(360deg) }
}
/* @formatter:on */
.popover {
    max-width: 600px;
}
/* Manjši fix za small inline form */
.input-group-sm > .input-group-addon > * {
    line-height: 0.8;
}
/* Fix zaobljenih robov pri input group addon */
.input-group-addon + div > .input-group > input:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Grid filter */
.grid-filter {
    margin-left: 7px
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.stevilka-na-veliko {
    font-weight: 160%;
    font-size: 300%;
    float:right;
}



.polje-z-gumbom {
    display: flex;
    & .izbor {
        width: calc(100% - 42px);
        display: inline-block;
        white-space: normal;

    }

    & .dodaj {
        display: inline-block;
        width: 42px;
        vertical-align: top;
        margin-left: 5px;
    }
}

.alter {
    &seznam {
        margin-top: 10px;
    }

    &-listitem.media  {
        overflow: visible;
        & > .media-body  {
            overflow: visible;
        }
    }
}

/*stil za tabelo kazalnikov
    odmiki od levega roba
*/
.table > tbody > tr > td.kazalnik-padleft {
    padding-left: 50px;
}



.zapisi-list {
    padding: 0;
    & .zapis-meta {
        margin-left: 8px;
        font-size: 10px;
        color: @text-muted;
    }
    &container {
        padding: 0;
    }
    & .zapis-description {
        max-height: 0;
        overflow: scroll;
        transition: max-height 0.8s;
    }
    & .zapis-description.active {
        max-height: 300px;
        transition: max-height 0.8s;
    }
    & .zapisi-list .zapis-item {
        margin-left: 30px;
        & .region-toolbar {
            margin-top: 0px;
        }
        & h4 {
            font-size: 12px;
        }

    }
    & .zapis-item {
        padding: @padding-xs-vertical 4px;
        list-style: none;
        & .thumb {
            padding: 0 @padding-xs-horizontal;
        }
        & h4 {
            margin-top: 0;
            margin-bottom: 6px;
        }

        &:nth-child(even) {
            background-color: @table-bg-accent;
        }
        & .region-toolbar {
            margin-top: 0px;
        }
    }

}



.mapa-list {
    padding: 0 0 0 0;
    &item {
        list-style: none;
        max-height:  100px;
        float: left;
        max-width: 350px;
        padding: 5px;
        margin: 2px;
    }
    .multi & &item {
        width: 25%;
        float: none;
    }
}


/*stili prikaznih polj*/
.prikazno-polje {
    min-height: 30px;
    & .vrednost{
        font-size: 20px;
        vertical-align: bottom;
    }
}

fieldset {

    padding: @padding-base-vertical @padding-base-horizontal;
    margin-bottom: 12px;
    border-radius: 6px;
    background-color: #eeeeee;


    &  legend{
        span {
            background-color: #eeeeee;
            padding: @padding-xs-vertical @padding-xs-horizontal;
            margin-left: @padding-xs-horizontal;
            border-radius: 6px;
        }
        margin-bottom: 3px;
        border-bottom: 0px;
    }

    &.pomemben {
        background-color: #dedede;
        &  legend{
            span {
                background-color: #dedede;
            }
        }
    }

}

.row.enota-postavke {
    @media (min-width: @screen-lg-min)  {

        margin: 30px 5px 12px -15px ;
    }
    @media (max-width: @screen-md-max) {

        margin: 0px 5px 0px 5px; 
    }

}



.btn-tripikice {
    position: relative;
    right: 6px;
    & button {
        background-color: @body-bg;
        border: 0;
        border-style: none;
        padding-top:  0px;
        margin-left: 5px;
    }
    & ul.dropdown-menu {
        right:0;
        left: auto;
    }
}

.izbor-uprizoritve-inline {
    padding: @padding-base-vertical @padding-base-horizontal;
    & h3 {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 15px;
    }
}

/* stili za postavke in postavke v enoti programa*/
.region-postavke{
    margin: 5px;
    margin-top: 15px;
}
.enota-programa{
    & .region-postavke-form{
        margin-bottom: 5px;
    }
}

/*stil za fielset brez legende*/
.fieldset-brez-legend{
    margin-top: 15px;
    padding-top: 22px;
}

.seznam {
    &-form {
        margin-top: 10px;
    } 
    &-paginator {
        text-align: center;
        margin-top: @padding-large-vertical;
    }
}

.uprizoritev {
    &-panels .region-form {
        margin-top: 10px;

    }
}

/*zgornji razmiki pri različnik*/
.tabpanel-stroskovnik{
    margin-top: 15px;
}

.povzetek-stroskovnik{
    margin-top: 15px;
}

/*stil za vrstice gumbov*/
.dogodek-izbira-gumbi{
    margin-top: 5px;
}

/*stil za oseba modal*/
.oseba-modal-vse{
    > .modal-dialog{
        width: 80%;
    }
}

/*zamik v desno pri izpisih*/
.padleft {
    padding-left: 50px;
}

/*stroski fieldset*/
.stroskovnik-visina{
    padding-bottom: 63px;
}

/*stroski fieldset*/
.povdarjena-vrstica{
    font-weight: bold;
    font-size: 130%;
}
.kazalniki-right{
    margin-right: 20px;
}
.cdve-tabela{
    padding-right: 20px;
}


/*AlternacijaView*/

/*podaljšan fieldset*/
.fieldset-alternacija{
    padding-bottom: 70px;
}

.lookup-modal-nov {
    position: fixed;
    margin: 3px;
    z-index: 5000;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    padding: 15px;

    
    & .modal-dialog {
        width: 100%;
        height: 97%;
    }

    & .modal-content{
        height: 100%;
    }

    & .modal-footer{
        height: 0px;
        padding: 0px;
        visibility: hidden;
    }

    & .modal-body {
        height: 90%;
        overflow-y: auto;
    }

    & .modal-header{
        & .close {
            color: #222222;
            opacity: 0.4;
        }
    }

    & .lookup-grid {
        width: 100%;
        padding: 0;
        border: 0;
    }
}

/*ckeditor*/
.cke_editable {
    background-color: white;
    border: solid 1px;
    border-color: #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    & * {
        margin-bottom: 0px;
    }
}

/*checkbox help block*/
.checkbox-help {
    & .help-block{
        margin: 0px;
        margin-bottom: 20px;
    }
}

.podobne-osebe{
    &-panel{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    &-toolbar{
        padding: 10px;
    }
    &-seznam{
        padding: 5px;
    }
}