/*
Licenca GPLv3
*/
/* 
    Created on : 30. avg. 2015, 15:23:13
    Author     : boris
*/

@yeti-blue: #008cba;
@bright-blue: #5bc0de;

.koledar-navigacija {
    background-color: #dddddd;
}

.sodelujoci-funkcije{
    //da se ob shift kliku ne označuje vsebina
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.sodelujoci-oseba{
    & .ime{
        &:hover{
            background-color: @bright-blue;
            cursor: pointer;
        }
    }
    & .active{
        & .ime{
            background-color: @yeti-blue;
        }
    }
}

//produkcija vzporednice

.vzporednice-content{
    margin-top: 15px;
}

.vzporednice-panel{
    & .uprizoritev{
        &:hover{
            background-color: @bright-blue;
            cursor: pointer;
        }
    }
    & .funkcije{
        margin-bottom:0px;
    }
    & .zasedene-osebe{
        & .oseba .ime{
            background-color: orangered;
        }
    }
}