/*
Licenca GPLv3
*/
/* 
    Created on : 30. avg. 2015, 15:23:13
    Author     : boris
*/

.koledar-navigacija {
    background-color: #dddddd;
}

.funkcije-container{
    margin-bottom: 0px;
}

.zasedene-osebe{
    & .vzporednice-oseba{
        background-color: orangered;
    }
}

.nezasedene-osebe{
    & .vzporednice-oseba{
        background-color: greenyellow;
    }
}

.sodelujoci-oseba{
    &:hover{
        background-color: #dddddd;
        cursor: pointer;
    }
}