/*
Licenca GPLv3
*/
/* 
    Created on : 30. avg. 2015, 15:23:13
    Author     : boris
*/

.koledar-navigacija {
    background-color: #dddddd;
}

.zasedba-uprizoritve{
    //da se ob shift kliku ne označuje vsebina
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.zasedba-alternacija {
    &:not(:last-child):after {
        content: ',';
    }
    &:hover {
        background-color: @brand-info;
        cursor: pointer;
    }
    &.active {
        background-color: @brand-success;
        color: #fff;
    }
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

//produkcija vzporednice

.vzporednice-content {
    margin-top: 15px;
}

.vzporednice-seznam {

    & .uprizoritev:hover {
        background-color: @gray-lighter;
        cursor: pointer;
    }
    & .funkcije {
        margin-bottom: 3px;
    }
    & .oseba:not(:last-child):after {
        content: ',';
    }
    & .oseba.nezasedena {
        background-color: @brand-success;
        color: #fff;
    }
    & .oseba{
        margin-right: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
}

.prikazi-prekrivanja{
    margin-bottom: 15px;
}

.zasedba-body{
    max-height: 600px;
    overflow: auto;
}

.zasedba-warning .opozorila{
    padding-top: 15px;
    padding-left: 15px;
}

.sodelujoci{
    & .sodelujoc:not(:last-child):after {
        content: ',';
    }

    & .sodelujoc{
        margin-right: 5px;
    }
}

.background-event{
    opacity: 0.5;
}

/* Tomaz */

.teden-editor input{
    width: auto;
    display: inline;
}

.planer-izbira-datum {
    position: relative;
}


@media all and (min-width: 768px) {
    .planer-dan{    
        border-bottom: solid 1px @gray-light;
        height: 40px;
        min-height: 40px;
        padding-bottom:10px;

        display: table;
        width: 100%;

    }
    .planer-cell {
        width: 30.6666667%;
        /*width: 33.333333%; */
        padding-left:110px;
    }
    .planer-first-cell{
        /* padding-left:120px; */
    }

    .planer-cell-datum {
        width: 120px;
        /*position:fixed;*/
        position: absolute;
        left: 0px;
        white-space:nowrap;
    }

    .planer-legenda {
        border-bottom: solid 2px;

        height: 26px;
        line-height: 26px;
        margin-top: 12px;

        white-space:nowrap;
    }
}

@media all and (max-width: 767px) {

    .planer-dan {
        border-bottom: solid 1px @gray-light;
        height: 84px;

        display: table;
        width:100%;

    }

    .planer-cell {       
        padding-left:130px;
        min-height: 20px;
    }

    .planer-cell:before {
        content: attr(data-label);
    }

    .planer-row {
        /*
        overflow: auto; border: solid 1px red
        */
        display: table-row;
    }



    .planer-legenda div{
        display: none;
    }
}

//planer paddind isti odmik on levega roba kot prvi termin

.planer-padding-left{
    padding-left: 100px;
}

.gumbi-razredi-dogodkov{
    padding-top: @padding-base-vertical;
    & .gumb-razred{
        margin-bottom: @padding-base-vertical;
    }
}

//dogodekView v planerteden

.planer{
    & .planer-dogodek{
        margin-top: @padding-base-vertical;
        margin-bottom: @padding-base-vertical;
    }
}

.urnik-prostor{
    & .urnik-toolbar{
        vertical-align: text-bottom;
        margin-bottom: @padding-base-vertical;
    }
}
.urnik-prostor{
    & .urnik-toolbar{
        vertical-align: text-bottom;
        margin-bottom: @padding-base-vertical;
    }
}